#content {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.w3-row-padding img {
    margin-bottom: 12px
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#random-image-container img {
  margin-top: 20px;
}